@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'fa-light-300';
  src: url("../fonts/fa-light-300.ttf");
}

@font-face {
  font-family: 'fa-regular-400';
  src: url("../fonts/fa-regular-400.ttf");
}

@font-face {
  font-family: 'SF_Pro_Display-Regular';
  src: url("../fonts/SF_Pro_Display-Regular.ttf");
}

@font-face {
  font-family: 'SF_Pro_Display-Semibold';
  src: url("../fonts/SF_Pro_Display-Semibold.ttf");
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu-Light';
  font-size: 15px;
  color: #ffffff;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: auto;
  height: 100%;
}

.container-menu {
  max-width: 1270px;
  padding: 0 15px;
  margin: auto;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF_Pro_Display-Regular';
}

.fas {
  font-family: 'fa-solid-900';
}

.fab {
  font-family: 'fa-brands-400';
}

.scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  z-index: 5;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

.header {
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
  opacity: 0.4;
  z-index: 0;
}

.header .top-header {
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header .top-header .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 190px 1fr 250px;
      grid-template-columns: 190px 1fr 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top-header .nav .logo a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content;
      grid-template-columns: min-content min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header .top-header .nav .logo a img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header .top-header .nav .logo a h3 {
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Ubuntu-Medium';
  font-size: 18px;
  letter-spacing: .04em;
  margin-left: 10px;
}

.header .top-header .nav .menu {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header .top-header .nav .menu .burger {
  display: none;
}

.header .top-header .nav .menu .main-menu a {
  color: #ffffff;
  display: inline-block;
  font-family: 'Ubuntu-Medium';
  margin-left: 20px;
  position: relative;
}

.header .top-header .nav .menu .main-menu a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .top-header .nav .menu .main-menu a:hover::before {
  width: 50%;
}

.header .top-header .nav .menu .main-menu a:first-of-type {
  margin-left: 0;
}

.header .top-header .nav .buy {
  -ms-grid-column-align: end;
      justify-self: end;
}

.header .top-header .nav .buy button {
  color: #ffffff;
  width: 115px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-family: 'Ubuntu-Medium';
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header .top-header .nav .buy button:hover {
  color: #1C1C1C;
  font-size: 14px;
  font-family: 'Ubuntu-Bold';
  letter-spacing: .03em;
}

.header .top-header .nav .buy button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .top-header .nav .buy button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.header .top-header .nav .buy a {
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
  font-family: 'Ubuntu-Bold';
}

.header .header-title {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 5;
}

.header .header-title h2 {
  font-family: 'SF_Pro_Display-Semibold';
  font-size: 96px;
}

.header .header-title .img {
  margin-top: 25px;
}

.header .header-title .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header-title p {
  margin: 25px auto 0;
  font-size: 17px;
  line-height: 150%;
  max-width: 325px;
}

.header .header-title .social {
  margin-top: 35px;
}

.header .header-title .social a {
  display: inline-block;
  margin-left: 50px;
}

.header .header-title .social a:first-of-type {
  margin-left: 0;
}

.header .header-title .social a svg {
  fill: rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-title .social a svg:hover {
  fill: #ffffff;
}

.about {
  background: url(../img/block/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0 50px 0;
  min-height: 100vh;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  opacity: 0.15;
  z-index: 0;
}

.about .about-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 465px 580px;
      grid-template-columns: 465px 580px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.about .about-wrap .content h3 {
  font-size: 44px;
  margin-bottom: 55px;
}

.about .about-wrap .content p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 150%;
  padding-left: 30px;
}

.about .about-wrap .content p:last-of-type {
  margin-bottom: 0;
}

.about .about-wrap .about-slider-wrap {
  margin-top: 200px;
  position: relative;
}

.about .about-wrap .about-slider-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 564px;
  height: 280px;
  border: 4px solid #ffffff;
}

.about .about-wrap .about-slider-wrap h4 {
  font-family: 'Ubuntu-Medium';
  font-size: 24px;
  line-height: 28px;
  width: 285px;
  text-align: right;
  position: absolute;
  top: 230px;
  right: 545px;
  z-index: 10;
}

.about .about-wrap .about-slider-wrap .about-slider {
  margin-top: 15px;
  margin-right: 17px;
}

.about .about-wrap .about-slider-wrap .about-slider .slick-list {
  overflow: hidden;
}

.about .about-wrap .about-slider-wrap .about-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-wrap .about-slider-wrap .about-slider .slick-list .slick-track .about-slider-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .about-wrap .about-slider-wrap button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content;
      grid-template-columns: min-content min-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding-right: 17px;
}

.about .about-wrap .about-slider-wrap button svg {
  stroke: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.about .about-wrap .about-slider-wrap .about-arrows-left, .about .about-wrap .about-slider-wrap .about-arrows-right {
  width: 60px;
  height: 50px;
  background: #1C1C1C;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-wrap .about-slider-wrap .about-arrows-left:hover, .about .about-wrap .about-slider-wrap .about-arrows-right:hover {
  background: #ffffff;
}

.about .about-wrap .about-slider-wrap .about-arrows-left:hover svg, .about .about-wrap .about-slider-wrap .about-arrows-right:hover svg {
  stroke: #000000;
}

.benefits {
  background: url(../img/block/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0 65px 0;
  min-height: 100vh;
  position: relative;
}

.benefits::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  opacity: 0.15;
  z-index: 0;
}

.benefits .title {
  position: relative;
  z-index: 5;
}

.benefits .title h4 {
  font-size: 44px;
}

.benefits .benefits-wrap {
  position: relative;
  z-index: 5;
  margin-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 95px;
  padding-left: 25px;
  counter-reset: number;
}

.benefits .benefits-wrap .block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-column-gap: 30px;
  position: relative;
}

.benefits .benefits-wrap .block::after {
  content: counter(number);
  counter-increment: number;
  position: absolute;
  font-size: 36px;
  color: #ffffff;
  font-family: 'Ubuntu-Bold';
  left: -30px;
  top: 90px;
}

.benefits .benefits-wrap .block .box h5 {
  font-family: 'Ubuntu-Bold';
  font-size: 21px;
  line-height: 24px;
  max-width: 123px;
}

.benefits .benefits-wrap .block .box p {
  margin-top: 10px;
  line-height: 130%;
}

.benefits .benefits-wrap .block .box:nth-child(1)::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
  width: 195px;
  height: 130px;
  border: 2px solid #ffffff;
  z-index: -1;
}

.benefits .benefits-wrap .block:nth-child(1) {
  max-width: 520px;
}

.benefits .benefits-wrap .block:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 26px;
  right: -55px;
  width: 250px;
  height: 145px;
  background: url(../img/benefits/1-2.svg) no-repeat;
  background-position: 0 0;
}

.benefits .benefits-wrap .block:nth-child(2) {
  margin-top: 15px;
  max-width: 500px;
}

.benefits .benefits-wrap .block:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 150px;
  left: -473px;
  width: 465px;
  height: 63px;
  background: url(../img/benefits/2-3.svg) no-repeat;
  background-position: 0 0;
}

.benefits .benefits-wrap .block:nth-child(3) {
  margin-left: 30px;
  max-width: 475px;
}

.benefits .benefits-wrap .block:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 25px;
  right: -100px;
  width: 230px;
  height: 40px;
  background: url(../img/benefits/3-4.svg) no-repeat;
  background-position: 0 0;
}

.benefits .benefits-wrap .block:nth-child(4) {
  margin-top: 15px;
  margin-left: 50px;
  max-width: 500px;
}

.features {
  background: url(../img/block/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0 90px 0;
  min-height: 100vh;
  position: relative;
}

.features::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  opacity: 0.15;
  z-index: 0;
}

.features .title {
  position: relative;
  z-index: 5;
}

.features .title h4 {
  font-size: 44px;
}

.features .features-wrap {
  margin-top: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 160px;
  position: relative;
  z-index: 5;
  margin-left: 25px;
}

.features .features-wrap::before {
  content: '';
  position: absolute;
  width: 670px;
  height: 200px;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/features/1.png) no-repeat;
  background-position: center;
}

.features .features-wrap .block {
  max-width: 280px;
  position: relative;
}

.features .features-wrap .block h5 {
  font-family: 'Ubuntu-Bold';
  font-size: 21px;
}

.features .features-wrap .block p {
  margin-top: 10px;
  line-height: 130%;
}

.features .features-wrap .block:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -140px;
  width: 230px;
  height: 115px;
  background: url(../img/features/line1.svg) no-repeat;
  background-position: 0 0;
}

.features .features-wrap .block:nth-child(2) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.features .features-wrap .block:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -245px;
  width: 230px;
  height: 105px;
  background: url(../img/features/line2.svg) no-repeat;
  background-position: 0 0;
}

.features .features-wrap .block:nth-child(3)::before {
  content: '';
  position: absolute;
  top: -70px;
  right: -282px;
  width: 350px;
  height: 85px;
  background: url(../img/features/line3.svg) no-repeat;
  background-position: 0 0;
}

.features .features-wrap .block:nth-child(4) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.features .features-wrap .block:nth-child(4)::before {
  content: '';
  position: absolute;
  top: -75px;
  left: -145px;
  width: 125px;
  height: 90px;
  background: url(../img/features/line4.svg) no-repeat;
  background-position: 0 0;
}

.questions {
  background: url(../img/block/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0 85px 0;
  min-height: 100vh;
  position: relative;
}

.questions::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  opacity: 0.15;
  z-index: 0;
}

.questions .title {
  position: relative;
  z-index: 5;
}

.questions .title h4 {
  font-size: 44px;
}

.questions .questions-wrap {
  margin-top: 40px;
  position: relative;
  z-index: 5;
  display: inline-block;
}

.questions .questions-wrap::before {
  content: '';
  position: absolute;
  bottom: 30px;
  right: -320px;
  width: 320px;
  height: 125px;
  background: url(../img/questions/1.png) no-repeat;
  background-position: center;
}

.questions .questions-wrap .block {
  margin-bottom: 5px;
}

.questions .questions-wrap .block.open .block-content {
  padding: 20px 0 75px 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.questions .questions-wrap .block.open .block-wrap .block-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questions .questions-wrap .block:last-of-type {
  margin-bottom: 0;
}

.questions .questions-wrap .block .block-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 690px 72px;
      grid-template-columns: 690px 72px;
}

.questions .questions-wrap .block .block-wrap .block-title {
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.95;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  height: 72px;
}

.questions .questions-wrap .block .block-wrap .block-title h5 {
  font-family: 'Ubuntu-Medium';
  font-size: 21px;
  color: rgba(255, 255, 255, 0.8);
}

.questions .questions-wrap .block .block-wrap .block-btn {
  height: 72px;
  width: 72px;
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.questions .questions-wrap .block .block-content {
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.95;
  max-width: 690px;
  padding: 0 0 0 50px;
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.questions .questions-wrap .block .block-content p {
  line-height: 150%;
}

.contacts {
  background: url(../img/block/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0 185px 0;
  min-height: 100vh;
  position: relative;
}

.contacts::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  opacity: 0.15;
  z-index: 0;
}

.contacts .title {
  position: relative;
  z-index: 5;
}

.contacts .title h4 {
  font-size: 44px;
}

.contacts .contact-wrap {
  margin-top: 55px;
  padding-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 570px 40px;
      grid-template-columns: 240px 570px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.contacts .contact-wrap .block .box {
  margin-bottom: 30px;
}

.contacts .contact-wrap .block .box:last-of-type {
  margin-bottom: 0;
}

.contacts .contact-wrap .block .box h5 {
  font-family: 'Ubuntu-Bold';
  font-size: 21px;
  margin-bottom: 10px;
}

.contacts .contact-wrap .block .box a {
  display: block;
  margin-top: 5px;
  line-height: 130%;
  color: #ffffff;
}

.contacts .contact-wrap .block .box a:hover {
  text-decoration: underline;
}

.contacts .contact-wrap .block .form-title h5 {
  font-size: 21px;
  font-family: 'Ubuntu-Bold';
}

.contacts .contact-wrap .block .form-title p {
  margin-top: 10px;
}

.contacts .contact-wrap .block form {
  margin-top: 10px;
}

.contacts .contact-wrap .block form .input-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.contacts .contact-wrap .block form .input-wrap .input {
  max-width: 280px;
  height: 45px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.95;
}

.contacts .contact-wrap .block form .input-wrap .input input {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 15px;
}

.contacts .contact-wrap .block form .input-wrap .input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .input-wrap .input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .input-wrap .input input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .input-wrap .input input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .textarea {
  margin-top: 10px;
  width: 100%;
  height: 145px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.95;
}

.contacts .contact-wrap .block form .textarea textarea {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 15px;
  padding-top: 15px;
}

.contacts .contact-wrap .block form .textarea textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .textarea textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .textarea textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .textarea textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.contacts .contact-wrap .block form .btn {
  margin-top: 20px;
}

.contacts .contact-wrap .block form .btn button {
  color: #ffffff;
  width: 120px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  font-family: 'Ubuntu-Bold';
  font-size: 14px;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.contacts .contact-wrap .block form .btn button:hover {
  color: #1C1C1C;
}

.contacts .contact-wrap .block form .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contacts .contact-wrap .block form .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.contacts .contact-wrap .social {
  margin-top: 60px;
}

.contacts .contact-wrap .social a {
  margin-bottom: 30px;
  display: inline-block;
}

.contacts .contact-wrap .social a:last-of-type {
  margin-bottom: 0;
}

.contacts .contact-wrap .social a svg {
  fill: rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.contacts .contact-wrap .social a svg:hover {
  fill: #ffffff;
}

.contacts .footer {
  text-align: right;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  width: 1210px;
}

.contacts .footer p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.64);
}

@media screen and (max-width: 1240px) {
  .contacts .footer {
    width: 100%;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .about .about-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-wrap .about-slider-wrap {
    max-width: 580px;
    margin: 200px auto 0;
  }
  .about .about-wrap .about-slider-wrap h4 {
    width: 100%;
    text-align: center;
    top: -100px;
    right: 0;
  }
  .features .features-wrap .block::before {
    display: none;
  }
}

@media screen and (max-width: 1130px) {
  .questions .questions-wrap::before {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .header .top-header .nav {
    -ms-grid-columns: (min-content)[3];
        grid-template-columns: repeat(3, -webkit-min-content);
        grid-template-columns: repeat(3, min-content);
  }
  .header .top-header .nav .logo {
    position: relative;
    z-index: 9999;
  }
  .header .top-header .nav .logo a h3 {
    display: none;
  }
  .header .top-header .nav .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header .top-header .nav .menu .burger {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 24px;
    height: 14px;
    position: relative;
    z-index: 9999;
  }
  .header .top-header .nav .menu .burger.active span {
    display: none;
  }
  .header .top-header .nav .menu .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 25px;
    top: 5px;
  }
  .header .top-header .nav .menu .burger.active::after {
    width: 25px;
    top: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .top-header .nav .menu .burger span {
    background: #E0E0E0;
    height: 2px;
    width: 24px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .nav .menu .burger::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: #E0E0E0;
    top: 0;
    right: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .nav .menu .burger::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #E0E0E0;
    bottom: 0;
    right: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .nav .menu .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, 0.9);
    z-index: 9998;
    display: none;
    padding-top: 140px;
    padding-left: 25px;
  }
  .header .top-header .nav .menu .main-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 425px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
  .header .top-header .nav .menu .main-menu a {
    display: block;
    margin-top: 35px;
    margin-left: 0;
  }
  .header .top-header .nav .menu .main-menu a::before {
    display: none;
  }
  .header .top-header .nav .menu .main-menu a:first-of-type {
    margin-top: 0;
  }
  .header .top-header .nav .menu .main-menu .buy-phone {
    margin-top: 65px;
  }
  .header .top-header .nav .menu .main-menu.show {
    display: block;
  }
  .header .top-header .nav .buy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    z-index: 9999;
  }
  .header .top-header .nav .buy button {
    width: 110px;
    font-size: 14px;
    font-family: 'Ubuntu-Bold';
    letter-spacing: .03em;
  }
  .header .header-title h2 {
    display: none;
  }
  .header .header-title .social {
    margin-top: 100px;
  }
  .benefits .benefits-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .benefits .benefits-wrap .block {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .benefits .benefits-wrap .block .box h5 {
    max-width: 100%;
  }
  .benefits .benefits-wrap .block:nth-child(2) {
    margin: 0;
  }
  .benefits .benefits-wrap .block:nth-child(3) {
    margin: 0;
  }
  .benefits .benefits-wrap .block:nth-child(4) {
    margin: 0;
  }
  .benefits .benefits-wrap .block::before {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .contacts .contact-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .contacts .contact-wrap .form {
    max-width: 570px;
  }
  .contacts .contact-wrap .social {
    margin-top: 0;
  }
  .contacts .contact-wrap .social a {
    margin-bottom: 0;
    margin-left: 30px;
  }
  .contacts .contact-wrap .social a:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .questions .questions-wrap .block .block-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .questions .questions-wrap .block .block-wrap .block-btn {
    display: none;
  }
  .questions .questions-wrap .block .block-content {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about .about-wrap .about-slider-wrap {
    max-width: 100%;
    min-width: 100%;
  }
  .about .about-wrap .about-slider-wrap::before {
    display: none;
  }
  .about .about-wrap .about-slider-wrap .about-slider {
    margin: 0;
  }
  .about .about-wrap .about-slider-wrap button {
    padding-right: 0;
  }
  .features .title h4 {
    font-size: 30px;
  }
  .features .features-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
    margin-left: 0;
  }
  .features .features-wrap::before {
    display: none;
  }
  .features .features-wrap .block {
    max-width: 100%;
  }
  .features .features-wrap .block:nth-child(2) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .features .features-wrap .block:nth-child(4) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (max-width: 650px) {
  .questions .questions-wrap .block.open .block-content {
    padding: 20px;
  }
  .questions .questions-wrap .block .block-wrap .block-title {
    padding-left: 15px;
  }
  .questions .questions-wrap .block .block-wrap .block-title h5 {
    font-size: 15px;
  }
  .questions .questions-wrap .block .block-content {
    padding: 0 0 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .contacts .contact-wrap {
    padding-left: 0;
  }
  .contacts .contact-wrap .form {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .about {
    padding: 150px 0 150px 0;
  }
  .about .about-wrap .content p {
    padding: 0;
  }
  .about .about-wrap .about-slider-wrap button {
    display: none;
  }
  .benefits {
    padding: 150px 0 100px 0;
  }
  .benefits .benefits-wrap .block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .contacts .contact-wrap .form form .input-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .contacts .contact-wrap .form form .input-wrap .input {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .about .about-wrap .content h3 {
    font-size: 30px;
  }
  .about .about-wrap .about-slider-wrap h4 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */